.navbar
  a(href='/products') Products
  a(href='/createProduct') Create Product
  .dropdown
    button.dropbtn
      | More Options
      i.fa.fa-caret-down
    .dropdown-content
      a(href='/offerProducts') Recommended Products
      a(href='/lessStock') Less Stocks
      a(href='/deletedProducts') Deleted Products
      a(href='/users') Users
      a(href='/deactivatedUsers') Deactivated Users
      a.logoutbtn(href='#') Logout